/****************************Html*/

body{
    margin: 0px;
}

/****************************Colours*/
.bg-primary {
    background-color: #33ccff;
}

.bg-secondary {
    background-color: #333333;
}

/****************************Header*/
header .bg-primary {
    position: relative;
    width: 125%;
    height: 8em;
    -ms-transform: rotate(1deg) translate(-1em, -1em); /* IE 9 */
    -webkit-transform: rotate(1deg) translate(-1em, -1em); /* Safari */
    transform: rotate(2deg) translate(-1em, -1em);
    box-shadow: 0px 5px 100px 5px #ccc;
}

header .bg-secondary {
    position: absolute;
    width: 150%;
    top: -150px;
    right: 0;
    height: 300px;
    transform-origin: bottom right;
    transform: rotate(20deg);
    box-shadow:  0px 5px 100px 2px #aaa;
}

/****************************Footer*/

